.favorites {
    box-sizing: border-box;
    padding: 30px 20px;
    background-image: linear-gradient(to right, #00c3ff, #1f569e, #272453);
    border-radius: 5px;
}

.favorites__name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: none;
}

.favorites__list {
    margin-bottom: 24px;
    color: white;
}

.favorites__save {
    border: none;
    background-color: #fafbfd;
    padding: 7px 25px;
    color: #2086c2;
    font-size: 14px;
    transition: all 0.2s linear;
    border-radius: 5px;
    
}
.delete{
    background: none;
    border: none;
    color: rgb(242, 244, 245);
}
.favorites__save:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}